.cell {
    width: 20px;
    height: 20px;
    background-color: #86bde296;
    display: inline-block;
}

.grid-frame {
    margin: -6px;
    padding: 0;
}

.brick {
    background-color: brown;
}

.you {
    background-color: greenyellow;
}

.apple {
    background-color: #E91E63;
}
